html{background-color: aqua;}

h1  {color: rgb(8, 8, 77);
    font-size: xx-large; 
    font-weight: 800;
    text-align: center;
    text-decoration-line:underline;}
    
p   {color:rgb(8, 8, 77);
    font-size: x-large;
    text-align: center;}

textarea {
    text-align: center;
}